<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<div>
				<h2>Listado de libros</h2>
				<b-button size="sm" :to="{name: 'NewBook'}" variant="success">Crear libro</b-button>
				<br>
				</div>
				<div class="col-md-12">
			 <b-table striped hover :items="books" :fields="fields">

            <template v-slot:cell(actions)="row">
              <b-button size="sm" variant="primary" :to="{ name:'EditBook', params: {bookId: row.item.id} }">
                Editar
              </b-button>
              <b-button size="sm" variant="danger" :to="{ name:'DeleteBook', params: {bookId: row.item.id} }">
                Eliminar
              </b-button>
            </template>

          </b-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import axios from 'axios';

export default{
	data(){
		return{
			fields: [
			{ key: 'title', label: 'Titulo' },
			{ key: 'description', label: 'Descripcion' },
			{ key: 'actions', label: 'Acciones' },
			],
			books:[]
		}
	},
	methods: {
		getBooks(){
			const path = `http://localhost:8000/api/v1.0/books/`
			axios.get(path).then((response)=>{
				this.books = response.data
			})
			.catch((error)=>{
				console.log(error)
			})
		}
	},
	created(){
		this.getBooks()
	}
}
</script>
<style lang="css" scoped>

</style>